<!doctype html>

<html lang="en">

<head>
    <title>Progress Bar Demo</title>
    <meta charset="utf-8">
</head>

<body>
    <progress-bar-borderless style="--bar-completed-percentage: 50">PHOTOSHOP</progress-bar-borderless>
    <progress-bar-borderless style="--bar-completed-percentage: 60">HTML</progress-bar-borderless>
    <progress-bar-borderless style="--bar-completed-percentage: 70">CSS</progress-bar-borderless>
    <progress-bar-borderless style="--bar-completed-percentage: 80">JAVASCRIPT</progress-bar-borderless>
    <progress-bar-borderless style="--bar-completed-percentage: 90">C++</progress-bar-borderless>
    <progress-bar-borderless style="--bar-completed-percentage: 100">PYTHON</progress-bar-borderless>

    <progress-bar-bordered style="--bar-completed-percentage: 50">PHOTOSHOP</progress-bar-bordered>
    <progress-bar-bordered style="--bar-completed-percentage: 60">HTML</progress-bar-bordered>
    <progress-bar-bordered style="--bar-completed-percentage: 70">CSS</progress-bar-bordered>
    <progress-bar-bordered style="--bar-completed-percentage: 80">JAVASCRIPT</progress-bar-bordered>
    <progress-bar-bordered style="--bar-completed-percentage: 90">C++</progress-bar-bordered>
    <progress-bar-bordered style="--bar-completed-percentage: 100">PYTHON</progress-bar-bordered>
</body>

</html>