@import "/component/progress-bar/progress-bar.css";

#bar {
    width: calc(90% - var(--label-left-width) - var(--label-right-width));
    background: linear-gradient(to right, var(--bar-completed-color) var(--bar-completed-percentage), var(--bar-remaining-color) var(--bar-remaining-percentage));
    border: 1px solid var(--bar-completed-color);
}