@property --bar-completed-percentage {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

:host {
    --bar-container-width: 65%;
    --bar-height: 20%;
    --bar-completed-color: #00d646;
    --bar-completed-percentage: 0;
    --label-left-width: 20%;
    --label-right-width: 10%;
}

:host {
    display: block;
    height: 2em;
    width: 100%;
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

#label-left, #label-right {
    position: relative;
    padding: 1%;
}

#label-left {
    width: var(--label-left-width);
    text-align: right;
}

#label-right {
    width: var(--label-right-width);
    text-align: left;
    counter-reset: bar-completed-percentage var(--bar-completed-percentage);
}

#label-right::after {
    content: counter(bar-completed-percentage) "%";
}

#bar {
    height: var(--bar-height);
    margin: 1%;
}