:host {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    flex: 1;
}

#line-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#line {
    height: 100%;
    width: 1%;
    background: black;
    margin: 0 auto;
}

#line-marker-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#line-marker {
    width: 5%;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}

#line-marker::before {
    content: "";
    float: left;
    padding-top: 100%;
}

#line-marker::after {
    content: "";
    display: table;
    clear: both;
}

#content-container {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}