<!DOCTYPE html>

<html lang="en">

<head>
    <title>Autofit Font Demo</title>
    <meta charset="utf-8">
    <style>
        body,
        html {
            overflow: hidden;
        }

        #box {
            --size: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 4px solid black;
            width: var(--size);
            height: var(--size);
            resize: both;
            overflow: auto;
        }
    </style>
</head>

<body>
    <div id="box">
        <autofit-font-nowrap>
            <h2>2016</h2>
            <h1>COMPANY</h1>
            <h3>Job Title</h3>
        </autofit-font-nowrap>
    </div>
</body>

</html>