<!doctype html>

<style>
    body, html {
        overflow: hidden;
    }

    #box {
        --size: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid black;
        width: var(--size);
        height: var(--size);
        resize: both;
        overflow: auto;
    }

  

</style>

<html lang="en">

<head>
    <script type="module" src="autofit-font.js"></script>
</head>

<body>
    <div id="box">
        <autofit-font-nowrap style="max-height: 30%;">
            <h2>2016</h2>
            <h1>COMPANY</h1>
            <h3>Job Title</h3>
        </autofit-font-nowrap>
        <autofit-font-wrap style="max-height: 70%;">
            <div>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</div>
        </autofit-font-wrap>
    </div>
</body>

</html>