:host {
    --valid-color: rgba(152, 251, 152, 1);
    --valid-color-focus: rgba(152, 251, 152, 0.8);
    --invalid-color: #dc3545;
    --label-color: gray;
    --placeholder-color: gray;
    --submit-color: white;
}

:host {
    display: block;
    position: relative;
}

form, form-control {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 100%;
    height: 100%;
}

form-control {
    width: 100%;
    margin-bottom: 1%;
}

form-control::part(container) {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline-color: transparent;
}

/* Controls */

form-control::part(control) {
    width: 100%;
}

/* Labels */
form-control::part(label) {
    position: absolute;
    left: 1%;
    width: 98%;
    color: var(--placeholder-color);
}

form-control[visited]::part(label),
form-control:is(:focus-within)::part(label) {
    position: static;
    width: 100%;
    font-size: 60%;
    color: var(--label-color);
}

/* Submit */

form-control[type=submit]::part(container) {
    background-color: var(--invalid-color);
    color: var(--submit-color);
}

form-control[type=submit]::part(label),
form-control[type=submit]::part(control) {
    display: none;
}

form-control[type=submit]::part(container)::before {
    content: "Submit";
}

form-control[type=submit][disabled]::part(container)::before {
    content: "Thank you!";
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]::part(container) {
    background-color: var(--valid-color);
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]:is(:hover, :focus-within, :disabled, [disabled])::part(container) {
    background-color: var(--valid-color-focus);
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]:is(:hover, :focus-within):not(:disabled, [disabled])::part(container) {
    cursor: pointer;
}

/* Validity Outlines */

form-control:not([empty]):is(:invalid, [internals-invalid]):focus-within::part(container) {
    outline-color: var(--invalid-color);
}

form-control:not([type=submit], [empty]):is(:valid, [internals-valid]):focus-within::part(container) {
    outline-color: var(--valid-color);
}

form-control[empty]:focus-within::part(container) {
    outline-color: var(--invalid-color);
}

/* Validation Message */
form-control::part(validation-message) {
    display: none;
}

form-control:not(:focus-within)[visited]::part(validation-message) {
    display: block;
    color: var(--invalid-color);
    font-size: smaller;
    background-color: var(--container-color);
}