<form id="contact-form" name="contact-form">
  <form-control type="text" id="name" name="name" required="*">Name</form-control>

  <form-control type="email" id="email" name="email" title="john.smith@example.com" required="*">Email
  </form-control>

  <form-control type="tel" id="phone" name="phone" title="(012) 345-6789" pattern="\([0-9]{3}\) [0-9]{3}-[0-9]{4}"
    template="(___) ___-____" template-placeholder="_" allowed="0123456789">Phone</form-control>

  <form-control type="textarea" id="message" name="message" title="Say hello!" required="*">Message
  </form-control>

  <form-control type="button" id="button" value=""></form-control>
</form>