:host {
    display: block;
}

input, textarea {
    width: 95%;
    padding: 1%;
    border: none;
    margin: 1%;
    letter-spacing: 0.1em;
}

textarea {
    resize: vertical;
}

input[type=submit] {
    background-color: lightgreen;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: lightgrey;
    padding: 1%;
}