:host {
    --tint-rgba: rgba(10, 17, 36, 0.55);
    --img-url: url(/img/2.webp);
}

:host {
    background: linear-gradient(var(--tint-rgba), var(--tint-rgba)), var(--img-url);
    background-size: cover;
    display: block;
}

#content {
    position: relative;
}
