:root {
    /* spacing */
    --content-max-width: 900px;
    --spacing-thin: min(1vh, 1vw);
    --spacing-normal: min(2vh, 2vw);
    --spacing-thick: 5%;
    --padding-section-height: 50%;
    /* sum of all nav-section and padding-section heights */
    --total-height: 1050%;
    /* icon size */
    --icon-width: calc(3 * var(--spacing-thin));
    --icon-circle-clip-path: circle(49% at center);
    /* font-family */
    --font-family-primary: 'primary', Fallback, sans-serif;
    --font-family-medium-bold: 'medium-bold', Fallback, sans-serif;
    --font-family-bold: 'bold', Fallback, sans-serif;
    /* font color */
    --color-medium-bold: var(--color-green);
    /* font size */
    --font-size-primary: min(1em, 2.5vh, 2.5vw);
    --font-size-xsmall: 80%;
    --font-size-small: 100%;
    --font-size-medium: 107.5%;
    --font-size-medium-bold: 115%;
    --font-size-large: 150%;
    --font-size-xlarge: 200%;
    /* text spacing */
    --line-height-emphasis: 1.5em;
    --letter-spacing-emphasis: 0.15em;
    /* color */
    --color-primary: white;
    --color-gray: #BEC7D5;
    --color-charcoal-25: #30374b48;
    --color-charcoal-50: #30374bBF;
    --color-charcoal-85: #30374bd9;
    --color-charcoal-95: #30374bf2;
    --color-charcoal-dark: #232938;
    --color-charcoal-dark-50: #23293899;
    --color-green: #51b954;
    --color-charcoal: #30374b;
    --color-red: #dc3545;
    /* border */
    --border-color: var(--color-gray);
    --border-width: 1px;
    --border-width-thick: 1.5px;
    --border-solid: var(--border-width) solid var(--border-color);
    --border-dashed: var(--border-width-thick) dashed var(--border-color);
    --border-radius: var(--spacing-thin);
    /* box shadow */
    --box-shadow-thin: 0 0 var(--spacing-thin) 3px var(--color-charcoal-dark-50);
    --box-shadow: 0 0 var(--spacing-normal) var(--color-charcoal);
    /* scrollbars */
    --scrollbar-secondary-width: thin;
    --scrollbar-secondary-width-webkit: var(--spacing-thin);
    --scrollbar-secondary-track-color: var(--color-charcoal);
    --scrollbar-secondary-color: var(--color-gray);
    --scrollbar-main-width: thin;
    --scrollbar-main-width-webkit: var(--spacing-normal);
    --scrollbar-main-track-color: var(--color-gray);
    --scrollbar-main-color: var(--color-charcoal);
    --scrollbar-main-hover-color: var(--color-charcoal-dark);
    /* transitions */
    --transition-duration-slow: 1s;
    --transition-duration-normal: 0.5s;
    --transition-duration-fast: 0.2s;
    /* nav-bar */
    --nav-bar-height: 8%;
    --nav-bar-reveal-height: 1%;
    --nav-bar-hide-translate: -90%;
    --nav-bar-spacing: var(--spacing-thin);
    --nav-bar-content-height: calc(var(--nav-bar-height) - (2 * var(--nav-bar-spacing)));
    --nav-bar-background-color: var(--color-charcoal);
    --nav-bar-box-shadow: 0 var(--border-width) calc(5 * var(--border-width)) var(--border-width) var(--color-charcoal-dark-50);
    --nav-entry-spacing: var(--spacing-thin);
    /* footer */
    --footer-height: var(--nav-bar-height);
    --footer-background-color: var(--nav-bar-background-color);
    /* nav-section-header */
    --nav-section-header-spacing: var(--spacing-thin);
    --nav-section-header-height: var(--nav-bar-height);
    /* content-container */
    --content-container-spacing: var(--spacing-normal);
    --content-container-background-color: var(--color-charcoal);
    /* resume */
    --resume-summary-container-spacing: var(--spacing-thick);
    --resume-download-container-spacing: var(--spacing-thick);
    /* progress bars */
    --progress-bar-container-spacing: var(--spacing-thick);
    --progress-bar-spacing: var(--spacing-normal);
    --progress-bar-max-width: 70%;
    /* projects */
    --project-spacing: var(--spacing-thin);
    /* experience */
    --experience-nav-section-height: 300%;
    --vertical-timeline-border: var(--border-dashed);
    --vertical-timeline-marker-diameter: var(--icon-width);
    --vertical-timeline-marker-radius: calc(var(--vertical-timeline-marker-diameter) / 2);
    --vertical-timeline-spacing: var(--spacing-normal);
    /* contact form */
    --form-valid-color: var(--color-green);
    --form-valid-focus-color: var(--color-green);
    --form-invalid-color: var(--color-red);
    --form-label-color: var(--color-primary);
    --form-placeholder-color: var(--color-primary);
    --form-submit-color: var(--color-primary);
    --form-control-max-height: 15%;
    --form-textarea-max-height: 30%;
    --form-spacing: var(--spacing-thin);
}
