* {
    box-sizing: border-box;
}

:root {
    --nav-bar-height: 7vh;
    --font-family-primary: 'avenir-35-light', Fallback, sans-serif;
    --font-family-emphasis: 'lulo-clean-w01-one-bold', Fallback, sans-serif;
    --color-primary: white;
    --color-emphasis-gray: #BEC7D5;
    --color-emphasis-green: #4CAF50;
    --background-color-charcoal: rgba(51, 59, 80, 1);
}

body {
    margin: 0;
    color: var(--color-primary);
    ;
    font-family: var(--font-family-primary);
}

.color-emphasis-gray {
    color: var(--color-emphasis-gray)
}

.color-emphasis-green {
    color: var(--color-emphasis-green)
}

on-scroll-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

/* section definitions */

section, half-section, double-section, quarter-section {
    display: block;
    position: relative;
}

section {
    height: 100vh;
}

quarter-section {
    height: 25vh;
}

half-section {
    height: 50vh;
}

double-section {
    height: 300vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-family: var(--font-family-emphasis);
}

h4, h5, h6 {
    letter-spacing: 0.18em;
    line-height: 1.8em;
    font-weight: 400;
    font-family: inherit;
    font-size: 60%;
}

.section-header {
    position: relative;
    width: 80%;
    height: var(--nav-bar-height);
    padding: 1vh;
    text-align: center;
}

/* utility classes */

.center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.center-text {
    text-align: center;
}

.scroll-snap-container {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.scroll-snap-center {
    scroll-snap-align: center;
}

.scroll-snap-start {
    scroll-snap-align: start;
}

.scroll-snap-none {
    scroll-snap-align: none;
}

/* backgrounds */

#background1 {
    --tint-rgba: rgba(50, 65, 88, 0.55);
    --background-image: url(/img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(250vh * 2 / 3);
}

#background2 {
    --tint-rgba: rgba(10, 17, 36, 0.55);
    --background-image: url(/img/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(150vh * 2 / 3);
}

#background3 {
    --tint-rgba: rgba(10, 17, 36, 0.55);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(150vh * 2 / 3);
}

#background4 {
    --tint-rgba: rgba(10, 17, 36, 0.55);
    --background-image: url(/img/4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(350vh * 2 / 3);
}

#background5 {
    --tint-rgba: rgba(10, 17, 36, 0.55);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(175vh * 2 / 3);
}

/* navigation bar */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-bar-height);
    z-index: 4;
    box-shadow: 0 0 4vh 0px rgb(45 45 45 / 15%);
    background-color: var(--background-color-charcoal);
    transition: top 0.5s, background-color 1s;
}

.transparent-header {
    background-color: transparent;
}

.hide-header:hover {
    top: 0;
    background-color: var(--background-color-charcoal);
}

.hide-header {
    top: calc((-1 * var(--nav-bar-height)) + 1vh);
}

autofit-font-nowrap.header::part(text) {
    float: left;
}

nav-bar {
    padding: 1%;
}

nav-entry {
    color: var(--color-emphasis-gray);
    --background-color-hover: transparent;
    --color-hover: var(--color-primary);
    padding: 1%;
}

nav-entry.active {
    font-family: var(--font-family-emphasis);
    color: var(--color-emphasis-green);
    background-color: transparent;
}

nav-entry:not(.active):hover {
    color: white;
}

on-intersection-add-class {
    display: block;
    position: relative;
}

autofit-font-nowrap, autofit-font-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

autofit-font-nowrap {
    white-space: nowrap;
}

#intro-container {
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
    padding: min(10vw, 10vh);
    padding-bottom: 0;
    text-align: start;
}

section[name=resume] .divider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    background-color: var(--background-color-charcoal);
}

#resume-container {
    position: relative;
    width: 75%;
    height: 75%;
    padding: 10%;
    background-color: var(--background-color-charcoal);
    box-shadow: 0.00px 1.00px 25px 4px rgba(47, 46, 46, 0.3);
}

#resume-download-button {
    display: block;
    background-color: transparent;
    border: solid var(--color-emphasis-green) 1px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s;
    text-align: center;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    /* height: 20%; */
    width: 50%;
    padding: 2%;
}

#resume-download-button:hover {
    background-color: var(--color-emphasis-green);
}

#resume-container autofit-font-wrap {
    position: relative;
    height: min(80vh, 80vw);
}

/* text sections */

[enter-any-add-class=transition-fade-in]>* {
    opacity: 0;
    transition: opacity 2s;
}

.transition-fade-in {
    opacity: 1;
}

/* vertical timeline */

/* double-section[name=experience] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

vertical-timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1%;
}

vertical-timeline on-intersection-add-class {
    position: relative;
    height: 25%;
    width: 95%;
    scroll-snap-align: center;
}

vertical-timeline-entry {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px dashed var(--color-emphasis-green);
    box-sizing: border-box;
    padding: 0 10% 0 10%;
    box-shadow: -2px 0 0 var(--color-emphasis-green);
}

vertical-timeline-entry::after {
    --diameter: 25px;
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--diameter) / -2);
    left: calc(var(--diameter) / -2);
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--color-emphasis-green);
    ;
    border-radius: 50%;
}

@media (min-aspect-ratio: 3/4) {
    vertical-timeline {
        align-items: flex-start;
    }
    vertical-timeline on-intersection-add-class {
        width: 50%;
    }
    vertical-timeline> :nth-child(odd) vertical-timeline-entry {
        box-shadow: inset -2px 0 0 var(--color-emphasis-green);
    }
    vertical-timeline> :nth-child(even) vertical-timeline-entry {
        box-shadow: -2px 0 0 var(--color-emphasis-green);
    }
    vertical-timeline> :nth-child(even) {
        align-self: flex-end;
    }
    vertical-timeline> :nth-child(odd) vertical-timeline-entry::after {
        left: unset;
        right: calc(var(--diameter) / -2);
    }
    vertical-timeline> :nth-child(even) vertical-timeline-entry::after {
        left: calc(var(--diameter) / -2);
    }
}

vertical-timeline-entry h2 {
    color: var(--color-emphasis-green);
}

vertical-timeline-entry autofit-font-wrap {
    height: auto;
    max-height: 50%;
}

vertical-timeline-entry autofit-font-nowrap {
    height: auto;
    max-height: 50%;
}

vertical-timeline-entry, vertical-timeline-entry div {
    opacity: 0;
    transform: scale(0.9);
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

vertical-timeline-entry.bounce {
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(1);
    opacity: 1;
}

vertical-timeline-entry.bounce div {
    animation: bounce 0.6s ease 0.1s 1 normal forwards running;
    will-change: transform, opacity;
}

/* progress bar */

#progress-bar-container {
    width: 100%;
    height: 100%;
}

@property --bar-completed-percentage {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

progress-bar-borderless p {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

progress-bar-borderless {
    /* --label-left-width: 30%; */
    --bar-completed-color: var(--color-emphasis-green);
    --bar-completed-percentage: 0;
    transition: --bar-completed-percentage 1s;
    text-transform: uppercase;
    white-space: nowrap;
}

#progress-bar-html-css.ready {
    --bar-completed-percentage: 90;
}

#progress-bar-javascript.ready {
    transition-delay: 0.1s;
    --bar-completed-percentage: 85;
}

#progress-bar-c.ready {
    transition-delay: 0.2s;
    --bar-completed-percentage: 70;
}

#progress-bar-python.ready {
    transition-delay: 0.3s;
    --bar-completed-percentage: 85;
}

#progress-bar-linux.ready {
    transition-delay: 0.4s;
    --bar-completed-percentage: 65;
}

/* contact form */

contact-form {
    line-height: normal;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: var(--nav-bar-height);
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--background-color-charcoal);
}

#contact-container {
    width: min(80vh, 80vw);
    height: 75%;
    margin: 5%;
    margin-bottom: 0;
    padding: 5%;
    background-color: var(--background-color-charcoal);
    z-index: 1;
    box-shadow: 0.00px 1.00px 25px 4px rgba(47, 46, 46, 0.3);
}
section[name=projects] autofit-font-wrap {
    height: calc(90% - var(--nav-bar-height));
    width: 90%;
}

git {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-charcoal);
}

git-user, git-repo {
    width: calc(50% - 2vw);
    box-shadow: 0.00px 1.00px 25px 4px rgba(47, 46, 46, 0.3);
    margin: 1vw;
    padding: 1vw;
}

git-user::part(user-name) {
    font-family: var(--font-family-emphasis);
}

git-user::part(user-html-url) {
    color: var(--color-emphasis-green);
    text-decoration: none;
    text-transform: lowercase;
}

git-repo::part(repo-html-url) {
    font-family: var(--font-family-emphasis);
    color: var(--color-emphasis-green);
    text-decoration: none;
}

@media (max-aspect-ratio: 3/4) {
    git {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    git-user, git-repo {
        width: calc(80% - 2vw);
    }
}