@font-face {
    font-family: 'roboto-mono-primary';
    src: url('Font/roboto-mono/roboto-mono-variable-subset.woff2') format('woff2');
    font-display: block;
    font-weight: 400;
}

@font-face {
    font-family: 'roboto-mono-medium';
    src: url('Font/roboto-mono/roboto-mono-variable-subset.woff2') format('woff2');
    font-display: block;
    font-weight: 450;
}

@font-face {
    font-family: 'roboto-mono-medium-bold';
    src: url('Font/roboto-mono/roboto-mono-variable-subset.woff2') format('woff2');
    font-display: block;
    font-weight: 500;
}

@font-face {
    font-family: 'roboto-mono-bold';
    src: url('Font/roboto-mono/roboto-mono-variable-subset.woff2') format('woff2');
    font-display: block;
    font-weight: 800;
}

:root {
    /* spacing */
    --content-max-width: 900px;
    --spacing-thin: min(1vh, 1vw);
    --spacing-normal: min(2vh, 2vw);
    --spacing-thick: 5%;
    /* icon size */
    --icon-width: calc(3 * var(--spacing-thin));
    --icon-circle-clip-path: circle(49% at center);
    /* font-family */
    --font-family-primary: 'roboto-mono-primary', Fallback, sans-serif;
    --font-family-medium-bold: 'roboto-mono-medium-bold', Fallback, sans-serif;
    --font-family-bold: 'roboto-mono-bold', Fallback, sans-serif;
    /* font color */
    --color-medium-bold: var(--color-green);
    /* font size */
    --font-size-primary: min(0.9em, 2.3vh, 2.3vw);
    --font-size-xsmall: 80%;
    --font-size-small: 100%;
    --font-size-medium: 107.5%;
    --font-size-medium-bold: 115%;
    --font-size-large: 150%;
    --font-size-xlarge: 200%;
    /* text spacing */
    --line-height-emphasis: 1.75em;
    --letter-spacing-emphasis: 0.18em;
    /* color */
    --color-primary: white;
    --color-gray: #BEC7D5;
    --color-charcoal-50: #30374bBF;
    --color-charcoal-85: #30374bd9;
    --color-charcoal-95: #30374bf2;
    --color-charcoal-dark: #232938;
    --color-charcoal-dark-50: #23293899;
    --color-green: #51b954;
    --color-charcoal: #30374b;
    --color-red: #dc3545;
    /* border */
    --border-color: var(--color-gray);
    --border-width: 1px;
    --border-width-thick: 1.5px;
    --border-solid: var(--border-width) solid var(--border-color);
    --border-dashed: var(--border-width-thick) dashed var(--border-color);
    --border-radius: var(--spacing-thin);
    /* box shadow */
    --box-shadow-thin: 0 0 var(--spacing-thin) 3px var(--color-charcoal-dark-50);
    --box-shadow: 0 0 var(--spacing-normal) var(--color-charcoal);
    /* scrollbars */
    --scrollbar-secondary-width: thin;
    --scrollbar-secondary-width-webkit: var(--spacing-thin);
    --scrollbar-secondary-track-color: var(--color-charcoal);
    --scrollbar-secondary-color: var(--color-gray);
    --scrollbar-main-width: thin;
    --scrollbar-main-width-webkit: var(--spacing-normal);
    --scrollbar-main-track-color: var(--color-gray);
    --scrollbar-main-color: var(--color-charcoal);
    --scrollbar-main-hover-color: var(--color-charcoal-dark);
    /* transitions */
    --transition-duration-slow: 1s;
    --transition-duration-normal: 0.5s;
    --transition-duration-fast: 0.2s;
    /* nav-bar */
    --nav-bar-height: 8vh;
    --nav-bar-reveal-height: var(--spacing-thin);
    --nav-bar-spacing: var(--spacing-thin);
    --nav-bar-content-height: calc(var(--nav-bar-height) - (2 * var(--nav-bar-spacing)));
    --nav-bar-background-color: var(--color-charcoal);
    --nav-bar-box-shadow: 0 var(--border-width) calc(5 * var(--border-width)) var(--border-width) var(--color-charcoal-dark-50);
    --nav-entry-spacing: var(--spacing-thin);
    /* footer */
    --footer-height: var(--nav-bar-height);
    --footer-background-color: var(--nav-bar-background-color);
    /* nav-section-header */
    --nav-section-header-spacing: var(--spacing-thin);
    --nav-section-header-height: var(--nav-bar-content-height);
    /* content-container */
    --content-container-spacing: var(--spacing-normal);
    --content-container-background-color: var(--color-charcoal);
    /* resume */
    --resume-summary-container-spacing: var(--spacing-thick);
    --resume-download-container-spacing: var(--spacing-thick);
    /* progress bars */
    --progress-bar-container-spacing: var(--spacing-thick);
    --progress-bar-spacing: var(--spacing-normal);
    --progress-bar-max-width: 70%;
    /* projects */
    --project-spacing: var(--spacing-thin);
    /* vertical timeline */
    --vertical-timeline-border: var(--border-dashed);
    --vertical-timeline-marker-diameter: var(--icon-width);
    --vertical-timeline-marker-radius: calc(var(--vertical-timeline-marker-diameter) / 2);
    --vertical-timeline-spacing: var(--spacing-normal);
    /* contact form */
    --form-valid-color: var(--color-green);
    --form-valid-focus-color: var(--color-green);
    --form-invalid-color: var(--color-red);
    --form-label-color: var(--color-primary);
    --form-placeholder-color: var(--color-primary);
    --form-submit-color: var(--color-primary);
    --form-control-max-height: 15%;
    --form-textarea-max-height: 30%;
    --form-spacing: var(--spacing-thin);
}

/* Scrollbars */

on-scroll-container {
    scrollbar-width: var(--scrollbar-main-width);
    scrollbar-color: var(--scrollbar-main-color) var(--scrollbar-main-track-color);
}

:not(on-scroll-container) {
    scrollbar-width: var(--scrollbar-secondary-width);
    scrollbar-color: var(--scrollbar-main-track-color) var(--scrollbar-main-color);
}

on-scroll-container::-webkit-scrollbar {
    width: var(--scrollbar-main-width-webkit);
    height: var(--scrollbar-main-width-webkit);
}

on-scroll-container::-webkit-scrollbar-track {
    background: var(--scrollbar-main-track-color);
}

on-scroll-container::-webkit-scrollbar-thumb {
    background: var(--scrollbar-main-color);
}

on-scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-main-hover-color);
}

:not(on-scroll-container)::-webkit-scrollbar {
    width: var(--scrollbar-secondary-width-webkit);
    height: var(--scrollbar-secondary-width-webkit);
}

:not(on-scroll-container)::-webkit-scrollbar-track {
    background: var(--scrollbar-secondary-track-color);
}

:not(on-scroll-container)::-webkit-scrollbar-thumb {
    background: var(--scrollbar-secondary-color);
}

/* centering */

.center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* scroll snap */

.scroll-snap-container {
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}

.scroll-snap-center {
    scroll-snap-align: center;
}

.scroll-snap-start {
    scroll-snap-align: start;
}

.scroll-snap-none {
    scroll-snap-align: none;
}

/* height */

.height-50 {
    height: 50%;
}

.height-75 {
    height: 75%;
}

.height-250 {
    height: 250%;
}

/* fade in */

[enter-any-add-class=transition-fade-in]>* {
    opacity: 0;
    transition: opacity var(--transition-duration-slow);
}

.transition-fade-in {
    opacity: 1;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-primary);
    color: var(--color-primary);
}

/* headers */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: unset;
    font-size: inherit;
}

h1, h2, h3 {
    font-family: var(--font-family-bold);
    text-transform: uppercase;
}

:is(h1, h2, h3) span {
    color: var(--color-green);
}

h1 {
    font-size: var(--font-size-xlarge);
}

h2 {
    letter-spacing: var(--letter-spacing-emphasis);
    font-size: var(--font-size-medium);
}

h3 {
    font-size: var(--font-size-large);
    font-family: var(--font-family-bold);
}

h4, h5, h6 {
    font-family: var(--font-family-primary);
}

h4, h5 {
    font-family: var(--font-family-medium-bold);
    font-size: var(--font-size-medium-bold);
    color: var(--color-medium-bold);
    text-transform: uppercase;
}

h6 {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-medium);
}

p {
    margin: 0;
}

on-scroll-container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

/* navigation bar */

.nav-bar-transparent {
    background-color: transparent;
}

.nav-bar-hide:hover {
    top: 0;
    background-color: var(--nav-bar-background-color);
}

.nav-bar-hide {
    top: calc(var(--nav-bar-reveal-height) - var(--nav-bar-height));
}

nav-bar {
    padding: var(--nav-bar-spacing);
    position: sticky;
    top: 0;
    width: calc(100% - (2 * var(--nav-bar-spacing)));
    height: var(--nav-bar-content-height);
    z-index: 4;
    box-shadow: var(--nav-bar-box-shadow);
    background-color: var(--nav-bar-background-color);
    transition: top var(--transition-duration-normal), background-color var(--transition-duration-slow);
}

nav-entry {
    color: var(--color-primary);
    padding: var(--nav-entry-spacing);
}

nav-entry.active {
    font-family: var(--font-family-medium-bold);
    font-size: var(--font-size-medium-bold);
    color: var(--color-medium-bold);
}

nav-entry:not(.active):hover {
    text-decoration: underline;
}

nav-section {
    display: block;
    /* position: relative; */
    width: 100%;
    height: 100%;
}

nav-section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-section-header-height);
    padding: var(--nav-section-header-spacing) 0;
    text-align: center;
}

padding-section {
    display: block;
}

#footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: relative;
    bottom: var(--footer-height);
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);
}

#footer a {
    font-size: smaller;
    color: var(--color-primary);
}

/* backgrounds */

on-scroll-container {
    background: var(--color-charcoal-85);
}

tinted-background {
    background-repeat: no-repeat;
    background-size: cover;
}

#background1 {
    height: calc(925% * 2 / 3);
    --background1-image-url: url(Img/shutterstock_789931129.webp);
    --tint-rgba: var(--color-charcoal-85);
    --background-image: none;
    background-size: 50%;
    background-repeat: round;
    opacity: 0;
    transition: opacity var(--transition-duration-slow) var(--transition-duration-fast);
}

#background2, #background3, #background4, #background5, #background6 {
    display: none;
}

@media (max-width: 500px) {
    #background1 {
        background-size: 100%;
    }
}

/* Content */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(var(--content-max-width) - (4 * var(--content-container-spacing)));
    width: calc(100% - (4 * var(--content-container-spacing)));
    height: calc(100% - (2 * var(--content-container-spacing)) - (2 * var(--nav-bar-height)) - var(--nav-bar-reveal-height));
    position: relative;
    margin-top: var(--nav-bar-reveal-height);
    padding: var(--content-container-spacing);
    z-index: 1;
    box-shadow: var(--box-shadow);
    background-color: var(--content-container-background-color);
    border-radius: var(--border-radius);
}

/* Intro */

#intro-container {
    text-align: start;
}

/* Resume */

#resume-container {
    justify-content: space-evenly;
}

#resume-summary-container {
    width: calc(100% - (4 * var(--resume-summary-container-spacing)));
    padding: var(--resume-summary-container-spacing);
    box-shadow: var(--box-shadow-thin);
    border-radius: var(--border-radius);
    text-align: center;
    line-height: var(--line-height-emphasis);
    font-size: var(--font-size-medium);
}

#resume-download-container {
    padding: calc(var(--resume-download-container-spacing) / 4) var(--resume-download-container-spacing);
    border: var(--border-solid);
    cursor: pointer;
    border-radius: var(--border-radius);
}

#resume-download-container:hover {
    border-width: var(--border-width-thick);
}

#resume-download-button h4 {
    display: inline;
}

#resume-download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
}

#skills on-intersection-add-class {
    height: unset;
    margin: auto 0;
    position: relative;
}

#skills nav-section-header {
    position: absolute;
}

/* progress bar */

progress-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: calc(100% - (2 * var(--progress-bar-container-spacing)));
    padding: var(--progress-bar-container-spacing) 0;
}

@property --bar-completed-percentage {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

progress-bar-borderless {
    display: flex;
    align-content: center;
    --bar-completed-percentage: 0;
    --bar-completed-color: none;
    --bar-height: 10%;
    --bar-max-width: var(--progress-bar-max-width);
    will-change: --bar-completed-percentage;
    text-transform: uppercase;
    transition: none;
}

progress-bar-container.init.ready:not(.done) progress-bar-borderless {
    transition: --bar-completed-percentage var(--transition-duration-slow);
}

progress-bar-borderless::part(flex-container) {
    column-gap: var(--progress-bar-spacing);
}

progress-bar-borderless::part(bar) {
    border-bottom: var(--border-dashed);
}

progress-bar-container:not(.ready) progress-bar-borderless {
    visibility: hidden;
}

/* projects */

#projects-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 0;
    max-width: unset;
    width: calc(100% - var(--content-container-spacing)*1);
    border-radius: 0;
}

#projects-container::before {
    position: sticky;
    content: '';
    width: var(--content-container-spacing);
    height: 100%;
    left: 0;
    z-index: 5;
    background: linear-gradient(to right, var(--content-container-background-color), transparent);
}

#projects-container::after {
    position: sticky;
    content: '';
    width: var(--content-container-spacing);
    height: 100%;
    right: calc(-1 * var(--content-container-spacing));
    background: linear-gradient(to right, transparent, var(--content-container-background-color));
}

git-user, git-repo, project {
    width: calc(50% - calc(6 * var(--project-spacing)));
    height: calc(50% - calc(4 * var(--project-spacing)));
    box-shadow: var(--box-shadow-thin);
    margin: var(--project-spacing);
    padding: var(--project-spacing);
    border-radius: var(--border-radius);
    transform: translateX(200%);
    transition: transform var(--transition-duration-normal);
}

#projects-container> :nth-child(even) {
    transition-delay: 0.1s;
}

:is(git-user, git-repo, project).ready {
    transform: none;
}

git-user::part(grid-container), git-repo::part(grid-container), project {
    grid-template-rows: 20% 1fr 20%;
    row-gap: var(--project-spacing);
}

git-user::part(user-name), git-repo::part(repo-html-url), project a {
    font-family: var(--font-family-medium-bold);
    font-size: var(--font-size-medium-bold);
    color: var(--color-medium-bold);
    text-transform: uppercase;
}

project a:hover, git-repo::part(repo-html-url):hover {
    text-decoration: underline;
}

git-repo, project {
    overflow: auto
}

git-repo::part(description), project div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

git-repo::part(description):hover, project div:hover {
    overflow: visible;
}

git-user::part(user-avatar-url) {
    margin-right: var(--project-spacing);
}

git-user::part(user-html-url) {
    display: inline;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: normal;
}

git-user::part(user-html-url)::before {
    content: "@";
}

git-user::part(user-html-url):hover {
    text-decoration: underline;
}

git-user::part(user-public-repos), git-user::part(user-following) {
    border: var(--border-solid);
    border-top-width: 0;
    border-bottom-width: 0;
}

git-repo::part(repo-html-url) {
    text-decoration: none;
}

project {
    position: relative;
    display: grid;
    grid-template-areas: "name" "cvparagraph" "icon";
    align-items: center;
}

project a {
    grid-area: name;
    align-self: flex-start;
    text-decoration: none;
}

project div {
    grid-area: cvparagraph;
}

git-repo {
    --repo-icon-width: var(--icon-width);
    --repo-icon-circle-clip-path: var(--icon-circle-clip-path);
    --repo-icon-margin-right: var(--project-spacing);
}

project::after {
    content: "";
    grid-area: icon;
    height: var(--icon-width);
    width: var(--icon-width);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project-secure-multithreaded-file-server::after {
    background-image: url('Img/icons8-cloud-backup-restore-24.webp');
}

#project-operating-system-pager::after {
    background-image: url('Img/icons8-memory-slot-30.webp');
}

#project-thread-library::after {
    background-image: url('Img/icons8-microchip-24.webp');
}

#project-lifesize-pacman::after {
    background-image: url('Img/icons8-pacman-30.webp');
}

#project-simultaneous-localization-and-mapping-slam-robot::after, #project-topological-mapping-robot::after {
    background-image: url('Img/icons8-bot-30.webp');
}

#project-mips-r10k-microprocessor::after {
    background-image: url('Img/icons8-microchip-24.webp');
}

#project-tic-tac-toe-robot::after {
    background-image: url('Img/icons8-robot-30.webp');
}

@media (max-aspect-ratio: 3/4) {
    #projects-container {
        padding-left: var(--content-container-spacing);
        flex-wrap: nowrap;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: unset;
        width: calc(100% - 4*var(--content-container-spacing));

    }
    #projects-container::before {
        position: sticky;
        content: '';
        width: 100%;
        height: var(--content-container-spacing);
        top: calc(-1 * var(--content-container-spacing));
        background: linear-gradient(to top, transparent, var(--content-container-background-color));
        flex: 0 0 var(--content-container-spacing);
    }
    #projects-container::after {
        position: sticky;
        content: '';
        width: 100%;
        height: var(--content-container-spacing);
        bottom: calc(-1 * var(--content-container-spacing));
        background: linear-gradient(to bottom, transparent, var(--content-container-background-color));
        flex: 1 0 var(--content-container-spacing);
    }
    git-user, git-repo, project {
        width: calc(100% - calc(2 * var(--project-spacing)));
        height: unset;
        flex-grow: 1;
    }
    git-user::part(grid-container), git-repo::part(grid-container), project {
        grid-template-rows: auto auto auto;
        row-gap: calc(2 * var(--project-spacing));
    }
    git-repo, project {
        overflow: unset;
    }
    project div, git-repo::part(description) {
        height: unset;
        width: unset;
        overflow: unset;
    }
}

/* vertical timeline */

vertical-timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: calc(100% - var(--nav-bar-height));
    width: calc(100% - 4 * var(--vertical-timeline-spacing));
    max-width: calc(var(--content-max-width) - 4 * var(--vertical-timeline-spacing));
    padding: var(--vertical-timeline-spacing);
    margin: var(--vertical-timeline-spacing);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: var(--color-charcoal);
}

vertical-timeline on-intersection-add-class {
    position: relative;
    scroll-snap-align: center;
    flex-grow: 1;
}

vertical-timeline> :nth-child(1) {
    scroll-snap-align: none;
}

vertical-timeline-entry {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-left: var(--vertical-timeline-spacing);
}

vertical-timeline-entry::before {
    content: "";
    position: absolute;
    left: 0;
    width: var(--border-width);
    height: 100%;
    background: var(--border-color);
}

vertical-timeline-entry h4 {
    font-size: var(--font-size-primary);
    color: var(--color-gray);
}

vertical-timeline-entry hr {
    position: relative;
    left: calc(-1 * var(--vertical-timeline-spacing));
    width: calc(100% + var(--vertical-timeline-spacing));
    height: var(--vertical-timeline-spacing);
    border: none;
    border-bottom: var(--vertical-timeline-border);
    margin: 0;
    margin-bottom: var(--vertical-timeline-spacing);
    overflow: visible;
}

vertical-timeline-entry hr::before {
    display: block;
    position: absolute;
    bottom: calc(-1 * var(--vertical-timeline-marker-radius));
    left: calc(-1 * var(--vertical-timeline-marker-radius));
    width: var(--vertical-timeline-marker-diameter);
    height: var(--vertical-timeline-marker-diameter);
    content: "";
    background-image: linear-gradient(var(--border-color), var(--border-color));
    clip-path: var(--icon-circle-clip-path);
}

@media (min-aspect-ratio: 3/2) {
    vertical-timeline {
        align-items: flex-start;
    }
    vertical-timeline on-intersection-add-class {
        width: 50%;
    }
    vertical-timeline> :nth-child(even) {
        align-self: flex-end;
    }
    vertical-timeline> :nth-child(odd) hr {
        left: unset;
    }
    vertical-timeline> :nth-child(odd) hr::before {
        left: unset;
        right: calc(-1 * var(--vertical-timeline-marker-radius));
    }
    vertical-timeline> :nth-child(odd) vertical-timeline-entry {
        padding-left: 0;
        padding-right: var(--vertical-timeline-spacing);
    }
    vertical-timeline> :nth-child(odd) vertical-timeline-entry::before {
        left: unset;
        right: calc(-1 * var(--border-width));
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    80% {
        opacity: 1;
        transform: scale(1.03);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

vertical-timeline-entry div {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: top center;
}

vertical-timeline-entry {
    opacity: 0;
}

vertical-timeline-entry.bounce {
    transition: opacity var(--transition-duration-fast);
    opacity: 1;
}

vertical-timeline-entry.bounce div {
    animation: bounce var(--transition-duration-fast) ease var(--transition-duration-fast) 1 normal forwards running;
    will-change: transform, opacity;
}

#contact-form {
    align-items: flex-start;
    border-radius: 0;
}

/* form control */

form-control {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    max-height: var(--form-control-max-height);
    width: 100%;
    margin-bottom: var(--form-spacing);
}

/* form control container */

form-control::part(container) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    width: calc(100% - 2 * var(--form-spacing));
    padding: var(--form-spacing);
    outline-color: transparent;
}

form-control:not([type=submit])::part(container) {
    background-color: transparent;
    outline: var(--border-solid);
}

form-control::part(control) {
    color: var(--color-primary);
}

form-control:not([type=submit], [empty]):is(:invalid, [internals-invalid]):focus-within::part(container) {
    outline-color: var(--form-invalid-color);
}

form-control:not([type=submit], [empty]):is(:valid, [internals-valid]):focus-within::part(container) {
    outline-color: var(--form-valid-color);
}

form-control:not([type=submit])[empty]:focus-within::part(container) {
    outline-color: var(--form-invalid-color);
}

form-control::part(control) {
    flex-grow: 1;
}

/* form control validation message */

form-control::part(validation-message) {
    display: none;
}

form-control:not(:focus-within)[visited]::part(validation-message) {
    display: block;
    color: var(--form-invalid-color);
    background-color: var(--container-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-xsmall);
    margin: calc(var(--form-spacing) / 3) 0 calc(var(--form-spacing) / 2) 0;
}

/* form control label */

form-control::part(label) {
    color: var(--form-placeholder-color);
}

form-control[visited]:not([type=submit]):is([required], :not([empty]))::part(label), form-control:not([type=submit]):focus-within::part(label) {
    display: block;
    position: unset;
    width: 100%;
    height: unset;
    font-size: var(--font-size-xsmall);
    color: var(--form-label-color);
}

form-control::part(control) {
    height: 0;
}

form-control[visited]:not([type=submit]):is([required], :not([empty]))::part(control), form-control:not([type=submit]):focus-within::part(control) {
    height: auto;
}

form-control[type=textarea] {
    flex-grow: 1;
    max-height: var(--form-text-area-max-height);
}

form-control[type=textarea]::part(control) {
    resize: none;
}

/* form control submit */

form-control[type=submit]::part(container) {
    background-color: var(--form-invalid-color);
    align-items: center;
}

form-control[type=submit]::part(label) {
    font-family: var(--font-family-medium-bold);
    /* font-size: var(--font-size-medium-bold); */
    color: var(--form-submit-color);
    text-transform: uppercase;
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]::part(container) {
    background-color: var(--form-valid-color);
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]:is(:hover, :focus-within, :disabled, [disabled])::part(container) {
    background-color: var(--form-valid-focus-color);
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]:is(:hover, :focus-within):not(:disabled, [disabled])::part(container) {
    cursor: pointer;
}

form:is(:valid:not([internals-invalid]), [internals-valid]) form-control[type=submit]:is(:hover, :focus-within):not(:disabled, [disabled])::part(label) {
    text-decoration: underline;
}