

.ABAP { --language-color: #E8274B; }
.ActionScript { --language-color: #882B0F; }
.Ada { --language-color: #02f88c; }
.Agda { --language-color: #315665; }
.AGS-Script { --language-color: #B9D9FF; }
.Alloy { --language-color: #64C800; }
.AMPL { --language-color: #E6EFBB; }
.ANTLR { --language-color: #9DC3FF; }
.API-Blueprint { --language-color: #2ACCA8; }
.APL { --language-color: #5A8164; }
.Arc { --language-color: #aa2afe; }
.Arduino { --language-color: #bd79d1; }
.ASP { --language-color: #6a40fd; }
.AspectJ { --language-color: #a957b0; }
.Assembly { --language-color: #6E4C13; }
.ATS { --language-color: #1ac620; }
.AutoHotkey { --language-color: #6594b9; }
.AutoIt { --language-color: #1C3552; }
.BlitzMax { --language-color: #cd6400; }
.Boo { --language-color: #d4bec1; }
.Brainfuck { --language-color: #2F2530; }
.C-Sharp { --language-color: #178600; }
.C { --language-color: #555555; }
.Chapel { --language-color: #8dc63f; }
.Cirru { --language-color: #ccccff; }
.Clarion { --language-color: #db901e; }
.Clean { --language-color: #3F85AF; }
.Click { --language-color: #E4E6F3; }
.Clojure { --language-color: #db5855; }
.CoffeeScript { --language-color: #244776; }
.ColdFusion-CFC { --language-color: #ed2cd6; }
.ColdFusion { --language-color: #ed2cd6; }
.Common-Lisp { --language-color: #3fb68b; }
.Component-Pascal { --language-color: #b0ce4e; }
.cpp { --language-color: #f34b7d; }
.Crystal { --language-color: #776791; }
.CSS { --language-color: #563d7c; }
.D { --language-color: #ba595e; }
.Dart { --language-color: #00B4AB; }
.Diff { --language-color: #88dddd; }
.DM { --language-color: #447265; }
.Dogescript { --language-color: #cca760; }
.Dylan { --language-color: #6c616e; }
.E { --language-color: #ccce35; }
.Eagle { --language-color: #814C05; }
.eC { --language-color: #913960; }
.ECL { --language-color: #8a1267; }
.edn { --language-color: #db5855; }
.Eiffel { --language-color: #946d57; }
.Elixir { --language-color: #6e4a7e; }
.Elm { --language-color: #60B5CC; }
.Emacs-Lisp { --language-color: #c065db; }
.EmberScript { --language-color: #FFF4F3; }
.Erlang { --language-color: #B83998; }
.F-Sharp { --language-color: #b845fc; }
.Factor { --language-color: #636746; }
.Fancy { --language-color: #7b9db4; }
.Fantom { --language-color: #dbded5; }
.FLUX { --language-color: #88ccff; }
.Forth { --language-color: #341708; }
.FORTRAN { --language-color: #4d41b1; }
.FreeMarker { --language-color: #0050b2; }
.Frege { --language-color: #00cafe; }
.Game-Maker-Language { --language-color: #8fb200; }
.Glyph { --language-color: #e4cc98; }
.Gnuplot { --language-color: #f0a9f0; }
.Go { --language-color: #375eab; }
.Golo { --language-color: #88562A; }
.Gosu { --language-color: #82937f; }
.Grammatical-Framework { --language-color: #79aa7a; }
.Groovy { --language-color: #e69f56; }
.Handlebars { --language-color: #01a9d6; }
.Harbour { --language-color: #0e60e3; }
.Haskell { --language-color: #29b544; }
.Haxe { --language-color: #df7900; }
.HTML { --language-color: #e44b23; }
.Hy { --language-color: #7790B2; }
.IDL { --language-color: #a3522f; }
.Io { --language-color: #a9188d; }
.Ioke { --language-color: #078193; }
.Isabelle { --language-color: #FEFE00; }
.J { --language-color: #9EEDFF; }
.Java { --language-color: #b07219; }
.JavaScript { --language-color: #f1e05a; }
.JFlex { --language-color: #DBCA00; }
.JSONiq { --language-color: #40d47e; }
.Julia { --language-color: #a270ba; }
.Jupyter-Notebook { --language-color: #DA5B0B; }
.Kotlin { --language-color: #F18E33; }
.KRL { --language-color: #28431f; }
.Lasso { --language-color: #999999; }
.Latte { --language-color: #A8FF97; }
.Lex { --language-color: #DBCA00; }
.LFE { --language-color: #004200; }
.LiveScript { --language-color: #499886; }
.LOLCODE { --language-color: #cc9900; }
.LookML { --language-color: #652B81; }
.LSL { --language-color: #3d9970; }
.Lua { --language-color: #000080; }
.Makefile { --language-color: #427819; }
.Mask { --language-color: #f97732; }
.Matlab { --language-color: #bb92ac; }
.Max { --language-color: #c4a79c; }
.MAXScript { --language-color: #00a6a6; }
.Mercury { --language-color: #ff2b2b; }
.Metal { --language-color: #8f14e9; }
.Mirah { --language-color: #c7a938; }
.MTML { --language-color: #b7e1f4; }
.NCL { --language-color: #28431f; }
.Nemerle { --language-color: #3d3c6e; }
.nesC { --language-color: #94B0C7; }
.NetLinx { --language-color: #0aa0ff; }
.NetLinx-ERB { --language-color: #747faa; }
.NetLogo { --language-color: #ff6375; }
.NewLisp { --language-color: #87AED7; }
.Nimrod { --language-color: #37775b; }
.Nit { --language-color: #009917; }
.Nix { --language-color: #7e7eff; }
.Nu { --language-color: #c9df40; }
.Objective-C { --language-color: #438eff; }
.Objective-Cpp { --language-color: #6866fb; }
.Objective-J { --language-color: #ff0c5a; }
.OCaml { --language-color: #3be133; }
.Omgrofl { --language-color: #cabbff; }
.ooc { --language-color: #b0b77e; }
.Opal { --language-color: #f7ede0; }
.Oxygene { --language-color: #cdd0e3; }
.Oz { --language-color: #fab738; }
.Pan { --language-color: #cc0000; }
.Papyrus { --language-color: #6600cc; }
.Parrot { --language-color: #f3ca0a; }
.Pascal { --language-color: #b0ce4e; }
.PAWN { --language-color: #dbb284; }
.Perl { --language-color: #0298c3; }
.Perl6 { --language-color: #0000fb; }
.PHP { --language-color: #4F5D95; }
.PigLatin { --language-color: #fcd7de; }
.Pike { --language-color: #005390; }
.PLSQL { --language-color: #dad8d8; }
.PogoScript { --language-color: #d80074; }
.Processing { --language-color: #0096D8; }
.Prolog { --language-color: #74283c; }
.Propeller-Spin { --language-color: #7fa2a7; }
.Puppet { --language-color: #302B6D; }
.Pure Data { --language-color: #91de79; }
.PureBasic { --language-color: #5a6986; }
.PureScript { --language-color: #1D222D; }
.Python { --language-color: #3572A5; }
.QML { --language-color: #44a51c; }
.R { --language-color: #198ce7; }
.Racket { --language-color: #22228f; }
.Ragel-in-Ruby-Host { --language-color: #9d5200; }
.RAML { --language-color: #77d9fb; }
.Rebol { --language-color: #358a5b; }
.Red { --language-color: #ee0000; }
.Ren-Py { --language-color: #ff7f7f; }
.Rouge { --language-color: #cc0088; }
.Ruby { --language-color: #701516; }
.Rust { --language-color: #dea584; }
.SaltStack { --language-color: #646464; }
.SAS { --language-color: #B34936; }
.Scala { --language-color: #DC322F; }
.Scheme { --language-color: #1e4aec; }
.Self { --language-color: #0579aa; }
.Shell { --language-color: #89e051; }
.Shen { --language-color: #120F14; }
.Slash { --language-color: #007eff; }
.Slim { --language-color: #ff8f77; }
.Smalltalk { --language-color: #596706; }
.SourcePawn { --language-color: #5c7611; }
.SQF { --language-color: #3F3F3F; }
.Squirrel { --language-color: #800000; }
.Stan { --language-color: #b2011d; }
.Standard-ML { --language-color: #dc566d; }
.SuperCollider { --language-color: #46390b; }
.Swift { --language-color: #ffac45; }
.SystemVerilog { --language-color: #DAE1C2; }
.Tcl { --language-color: #e4cc98; }
.TeX { --language-color: #3D6117; }
.Turing { --language-color: #45f715; }
.TypeScript { --language-color: #2b7489; }
.Unified-Parallel-C { --language-color: #4e3617; }
.Unity3D-Asset { --language-color: #ab69a1; }
.UnrealScript { --language-color: #a54c4d; }
.Vala { --language-color: #fbe5cd; }
.Verilog { --language-color: #b2b7f8; }
.VHDL { --language-color: #adb2cb; }
.VimL { --language-color: #199f4b; }
.Visual-Basic { --language-color: #945db7; }
.Volt { --language-color: #1F1F1F; }
.Vue { --language-color: #2c3e50; }
.Web-Ontology-Language { --language-color: #9cc9dd; }
.wisp { --language-color: #7582D1; }
.X10 { --language-color: #4B6BEF; }
.xBase { --language-color: #403a40; }
.XC { --language-color: #99DA07; }
.XQuery { --language-color: #5232e7; }
.Zephir { --language-color: #118f9e; }