<!doctype html>

<html>

<head>
    <title>Nav Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        .content {
            height: 100vh;
            padding-top: 10vh;
        }

        nav-bar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 10vh;
        }

    </style>
</head>

<body>

    <nav-bar>
        <nav-entry href="#home">Home</nav-entry>
        <nav-entry href="#news">News</nav-entry>
        <nav-entry href="#contact">Contact</nav-entry>
        <nav-entry href="#about">About</nav-entry>
    </nav-bar>

    <nav-point id="home"></nav-point>
    <div class="content">
        <h2>Home</h2>
        <p>This example use media queries to transform the sidenav to a top navigation bar when the screen size is 900px
            or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center
            the navigation links.</p>
        <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>

    <nav-point id="news"></nav-point>
    <div class="content">
        <h2>News</h2>
        <p>This example use media queries to transform the sidenav to a top navigation bar when the screen size is 900px
            or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center
            the navigation links.</p>
        <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>

    <nav-point id="contact"></nav-point>
    <div class="content">
        <h2>Contact</h2>
        <p>This example use media queries to transform the sidenav to a top navigation bar when the screen size is 900px
            or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center
            the navigation links.</p>
        <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>

    <nav-point id="about"></nav-point>
    <div class="content">
        <h2>About</h2>
        <p>This example use media queries to transform the sidenav to a top navigation bar when the screen size is 900px
            or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center
            the navigation links.</p>
        <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>
</body>

</html>