<style>
    :root {
        --border-color: black;
        --border: medium solid var(--border-color);
    }

    body {
        margin: 0;
    }

    vertical-timeline {
        height: 100vh;
        border: 1px dotted black;
    }

    vertical-timeline :nth-child(even) {
        float: right;
    }
    
    vertical-timeline-entry::part(content-container) {
        border: var(--border);
        max-width: 45%;
        float: inherit;
    }
</style>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="module" src="vertical-timeline.js"></script>
<script type="module" src="/component/intersection-transition/intersection-transition.js"></script>
</head>

<body>
<vertical-timeline>
    <vertical-timeline-entry>
        <h2>2017</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </vertical-timeline-entry>

    <vertical-timeline-entry>
        <h2>2018</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </vertical-timeline-entry>

    <vertical-timeline-entry>
        <h2>2019</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </vertical-timeline-entry>

    <vertical-timeline-entry>
        <h2>2020</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </vertical-timeline-entry>

</vertical-timeline>

</body>
</html>
