:host {
    --border-color: black;
    --border: medium solid var(--border-color);
}

:host {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    font-stretch: 0% 100%;
}

#line-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#circle-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#circle::before {
    content: "";
    float: left;
    padding-top: 100%;
}

#circle {
    width: 5%;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}

#circle::after {
    content: "";
    display: table;
    clear: both;
}

#line {
    height: 100%;
    width: 1%;
    background: black;
    margin: 0 auto;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 45%;
}

#arrow {
    border: 2.5vw solid transparent;
}

#content {
    padding: 1%;
    border: var(--border);
}

:host::after {
    content: "";
    display: block;
    clear: both;
  }
